/html/assets/js/lib/loadAnalytics.js
/html/assets/svg
/html/audio
/html/*.html
!/html/docs.html
/target
out
*.old
.env
ipadic/
unidic/
unidic-mecab/
data/
data
/resources/
/suggestions
/suggestions_
audio_old
*.bat
=======
indexes/
indexes_old
massiv.out
*/*/target
tmp/
img_scan_tmp/
