/html/assets/js/loadAnalytics.js
/html/assets/svg
/html/assets/audio
/html/*.html
!/html/docs.html
/target
out
*.old
.env
resources*
ipadic/
unidic/
resources.tar.gz
unidic-mecab/
data/
data
/suggestions/
/suggestions_
audio_old
out_index_de
