body {
	background: #f2f1f0;
	color: #222222;
	font-family: 'Open Sans', sans-serif;
	max-height: 700px;
	overflow: hidden;
}

.err-parent {
	text-align: center;
	text-align: -webkit-center;
	display: block;
	position: relative;
	width: 80%;
	margin: 100px auto;
}

.err-parent > *:not(:first-child) {
	margin-bottom: 10px;
}

.err-code {
	font-size: 220px;
	position: relative;
	display: inline-block;
	z-index: 2;
	height: 250px;
	letter-spacing: 15px;
}

.txt-primary {
	text-align: center;
	text-align: -webkit-center;
	display: block;
	position: relative;
    padding-bottom: 5px;
	letter-spacing: 8px;
	font-size: 3em;
	line-height: 80%;
    text-transform: uppercase;
}

.txt-secondary {
	text-align: center;
	text-align: -webkit-center;
	display: block;
	position: relative;
	font-size: 20px;
    text-transform: uppercase;
    padding-bottom: 5px;
}

.back-btn {
	background-color: #50c058;
	position: relative;
	display: inline-block;
	width: 358px;
	padding: 5px;
	z-index: 5;
	font-size: 25px;
	margin: 0 auto;
	color: white;
	text-decoration: none;
}

.issue-btn {
	position: relative;
	display: inline-block;
	width: 308px;
	padding: 5px;
	z-index: 5;
	font-size: 25px;
	margin: 0 auto;
	color: white;
	text-decoration: none;
}

.git-logo {
	fill: black;
}

a:hover {
    text-decoration: none;
    color: white;
}

hr {
	padding: 0;
	border: none;
	border-top: 5px solid #50c058;
	color: #50c058;
	text-align: center;
	text-align: -webkit-center;
	margin: 0px auto;
	width: 420px;
	height: 10px;
	z-index: -10;
}

/* Mobile adjustments */
@media only screen and (max-width: 600px) {
	
	.err-code {
		font-size: 150px;
		height: 150px;
		margin-left: 1vw;
	}

	.txt-primary {
		font-size: 2.5em;
	}

	.back-btn, hr {
		width: 100%;
	}

	.git-logo {
		width: 100%;
	}
}

/* Mobile adjustments */
@media only screen and (max-width: 300px) {
	
	.err-code {
		font-size: 120px;
		margin-top: -30px;
	}
}