.kanji-entry.left.detail {
    width: 155px;
    padding-left: 25px
}

.kanji-entry.right.detail {
    overflow-x: hidden;
    padding-left: 35px;
    width: 100%;
    max-width: 1000px;
}

.kanji-preview.x-large {
    font-size: 100px;
}

.kanji-preview-info {
    padding-left: 5px;
}

.kanji-preview-right {
    max-width: 350px;
    text-align: right;
}

.translation.big {
    font-size: 25px;
}

.kanji-preview-left {
    width: 63%;
    padding-right: 10%;
}

.kun-reading {
    padding-left: 10px;
}

.kun-reading, .on-reading {
    width: 100%;
}

.speed-tag {
    gap: 1em;
    align-items: center;
}

.kanji-img {
    position: absolute;
    pointer-events: none;
    margin-bottom: -130px;
    opacity: 0;
}

.animation-container {
    padding: 1em 0 1.5em 0 !important;
    place-content: center;
}

.animation-controller {
    margin: 0 1em -1em 0;
    gap: 0.5em;
    width: 35%;
}

.animation-controller .slider {
    width: 100%;
}

.animation-group > .l {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.animation-group > .m {
    margin-left: 2px;
    margin-right: 2px;
    width: 60%;
}

.animation-group > .m > span {
    pointer-events: none;
}

.animation-group > .r {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.animation-group > button {
    border: 0px;
    background: var(--bgPrimaryColor);
    color: white;
    width: 20%;
    height: 2em;
    line-height: 2;
}

.reset-btn {
    width: 24px;
    position: relative;
    left: 95px;
    top: -25px;
}

.animation-group > button > img {
    width: 45%
}

.compounds-dropdown-parent {
    width: 97%;
}

.compounds-dropdown:after {
    position: absolute;
    content: "";
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 5px;
    border-color: var(--tagColor) transparent transparent transparent;
    pointer-events: none;
    transition: linear 0.2s;
    right: 0;
    margin-top: -3px;
}

.compounds-dropdown.closed:after {
    border-color: transparent transparent var(--tagColor) transparent;
    margin-top: -8px;
}

.compounds-click-area {
    position: absolute;
    width: 100%;
    height: 20px;
    margin-top: -25px;
}

.anim-container svg {
    user-select: none;
}

.anim-container text {
    font-size: 8px;
}

/* Kanji dark mode */
:root.dark .stroke-container > svg > path.active {
    stroke: rgb(211, 207, 201) !important;
}

:root.dark .stroke-container > svg > path.not.active {
    stroke: rgb(105, 105, 105) !important;
}

:root.dark .stroke-container > svg > line {
    stroke: rgb(92, 92, 92) !important;
}

:root.dark .stroke-container > svg > circle {
    fill: rgb(95, 241, 96) !important;
    opacity: 0.75 !important;
}

:root.dark .anim-container > svg path:not(.bg) {
    stroke: var(--primaryTextColor);
}

:root.dark .anim-container text {
    fill: var(--primaryTextColor);
}

/* Everything lower than max size */
@media only screen and (max-width: 1150px) {
    .animation-group > button > img {
        width: 1.5em
    }

    .animation-controller {
        width: 50%;
    }
}

/* Small screens */
@media only screen and (max-width: 600px) {

    .compounds-parent {
        flex-direction: column!important;
    }

    .compounds-dropdown:after {
        right: -8px;
    }

    .kun-reading {
        padding-left: 0px;
        padding-top: 20px;
    }

    .main-container > .d-flex {
		flex-direction: column;
	}

	.kanji-entry.left.detail {
        width: 100%;
		align-self: center;
		padding-left: 0px;
	}
	
	.kanji-preview.x-large {
		align-self: center;
	}

    .translation.big {
        font-size: 20px;
        padding-bottom: 10px;
    }
	
	.kanji-preview-info {
		padding-left: 0px;
        text-align: left;
	}
	
	.kanji-entry.right.detail {
		width: unset;
		padding-left: 0px;
	}
	
	.kanji-entry.right.detail > .kanji-entry {
		flex-direction: column !important;
	}
	
	.kanji-preview-left {
		padding: 0;
		width: 100%;
		text-align: center;
        text-align: -webkit-center;
	}	

    .rad-parts-parent {
        display: flex !important;
        flex-direction: row !important;
    }

    .notes.stroke {
        text-align: center;
        text-align: -webkit-center;
    }

    .notes.rad {
        width: 50%;
    }

    .notes.parts {
        width: 50%;
        padding-right: 20px;
        text-align: right;
    }
	
	.kanji-preview-left > .d-flex {
		padding-left: 10px;
	}
	
	.kanji-preview-right {
        max-width: unset;
		padding-top: 10px;
        text-align: left;
	}

    .notes {
        padding-left: 10px;
    }

    .tags.fat {
        font-size: 15px;
    }

    .clickable.fat {
        font-size: 15px;
    }
	
	.stroke-container {
        max-width: 99vw;
        padding-left: 1vw;
	}
	
	.on-reading {
		padding-top: 10px;
	}
	
    .slider {
        width: 100px;
        height: 10px;
    }

    .slider::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
    }

    .slider-output {
        margin-left: -10px;
    }

}

/* Very small screens */
@media only screen and (max-width: 400px) {
    .animation-group > button > img {
        width: 1.25em;
    }
}