#news-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news-container {
    display: block;
    width: 80%;
    margin-top: 2rem;
    border-radius: 1rem;
    background-color: rgba(249, 249, 249, 0.75);
    box-shadow: 0px 8px 20px 0px var(--backgroundShadow); 
}

:root.dark .news-container {
    background-color: rgba(47, 49, 55, 0.75);
}

.news-head {
    background-color: var(--bgPrimaryColor);
    background: linear-gradient(45deg,var(--bgPrimaryColor),var(--primaryColor));
    color: var(--secondaryTextColor);
    width: 100%;
    height: 50px;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    text-align: center;
    font-size: 25px;
}

.news-head > span {
    position: relative;
    top: 5px;
}

.news-date {
    position: relative;
    text-align: right;
    margin: 10px 10px -30px;
    color: var(--tagColor);
}

@media only screen and (max-width: 600px) {
    .news-date {
        margin: 5px 10px -20px;
    }
}

.news-body {
    padding: 1.125rem;
}