.furigana-kanji-container {
    text-align: left;
}

.inline-kana-preview.small, .kanji-preview.small, .inline-kana-preview.small {
    font-size: x-large;
}

.sentence-translation.original {
    font-size: 19px;
    padding-top: 0.2rem;
}   
