.furigana-kanji-container {
    text-align: left;
}

.inline-kana-preview.small, .kanji-preview.small, .inline-kana-preview.small {
    font-size: x-large;
}

.sentence-translation.original {
    font-size: 19px;
    padding-top: 0.2rem;
}   

.sentence-toggle {
    width: 100%;
    margin-top: -10px;
    margin-bottom: -10px;
    color: var(--primaryColor);
    font-family: "Roboto";
    text-align: end;
    font-size: small;
    cursor: pointer;
}

.sentence-share {
    width: 100%;
    font-size: 12px;
    margin-top: -10px;
    margin-bottom: -12px;
    padding-top: 5px;
    padding-right: 5px;
    color: var(--primaryColor);
    -webkit-writing-mode: tb;
        -ms-writing-mode: tb;
            writing-mode: tb;
}