.title-div {
    text-align: center;
    text-align: -webkit-center;
    width: 80%;
}

.title-div h1 {
    font-weight: bold;
    font-size: xx-large;
}

.title-div h4 {
    font-size: medium;
}

.main-tab-select {
    padding-top: 25px;
    width: 100%;
}

.main-tab-select.l {
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
}

.main-tab-select.r {
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.main-tab-select h2 {
    font-size: medium;
    text-decoration: underline;
    color: var(--primaryColor);
}

.tab-btn {
    cursor: pointer;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.entry-min-height-1 {
    min-height: 90px;
}

.entry-min-height-2 {
    min-height: 180px;
}

.main-info > .d-flex.flex-row {
    padding-left: 1vw;
}

.definition-wrapper {
    max-width: 93%;
}

/* Example Sentences */
.example-sentence {
    padding-top: 5px;
    margin-bottom: 5px !important;
    max-width: 90%;
    overflow-y: hidden;
}

.example-sentence.collapsed {
    max-height: 35px;
}

.example-sentence .wrap div {
    margin-top: -5px;
}

.expander {
    height: 0;
    width: 0;
    margin-top: 24px;
    margin-left: 5px;
    border-style: solid;
    border-width: 5px;
    border-color: var(--tagColor) transparent transparent transparent;
}

.expander.on {
    transform: rotate(180deg);
    transform-origin: top center;
    margin-top: 29px;
}

.expander:hover {
    cursor: pointer;
}

.tags .kanji-preview {
    font-size: 15px;
}

.furigana-preview {
    font-size: inherit;
}

.tags .furigana-preview {
    font-size: 10px;
    margin-bottom: 5px;
    margin-top: 2px;
}

.tags .inline-kana-preview {
    font-size: 15px;
    padding-top: 18px;
}

/* Kanji Stuff Overwrite */

.kanji-entry.left.fixed {
    min-width: 155px;
    max-width: 155px;
    justify-content: center;
    align-items: center;
}

.kanji-preview.large {
    font-size: 50px;
    padding-top: 15px;
}

.kanji-preview.large:hover {
    text-decoration: none;
} 

.kanji-entry {
    padding-bottom: 5px;
}

/* 3-dot Menu */

.dot-menu {
    width: 100%;
}

.mdl-menu__item[disabled] + .mdl-menu__item[disabled], .mdl-menu__item:last-child[disabled], .mdl-menu__item:first-child[disabled] {
    display: none;
}

.mdl-menu__item[disabled] {
    height: 10px;
}

.mdl-menu__item[disabled] > hr {
    margin: 0px;
    margin-top: 5px;
}

#info-dropdown {
    background-color: var(--background);
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    cursor: pointer;
}

.info-entry {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 1.4;
    cursor: pointer;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
}

.info-entry:hover {
    background-color: var(--lineColor);
}

.info-entry > * {
    margin: 0 5px;
}

.info-entry > div {
    margin-top: 1px;
}

.info-entry a {
    vertical-align: middle;
}

.info-entry > .extra {
    border-left: 1px solid var(--lineColor);
    padding-left: 7px;
    margin-left: 1px;
}

.info-entry .copySvg {
    pointer-events: all;
}

.word-tooltip {
    position: absolute;
    cursor: pointer;
    top: 0px;
    right: 10px;
}

.word-tooltip > span {
    margin-bottom: -20px;
}

.mdl-menu__container {
    margin-right: 10px;
}

/* -------- Words Column -------- */

.word-frequency {
    margin-top: 10px;
    width: 100px;
    clear: right;
    margin: 4px 0 8px 0;
    padding: 2px 5px 3px 5px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--secondaryColor);
    border-radius: 3px;
    color: var(--secondaryTextColor);
    font-weight: bold;
    text-align: center;
    text-align: -webkit-center;
}

.word-frequency.common {
    background-color: var(--bgPrimaryColor);
}

.kanji-entry .list-entry + .list-entry {
    padding-top: 5px;
}


/* Pitch Accent Borders */
.pitch {
    border-radius: 0px;
    margin-right: -4px;
    font-size: large;
    color: var(--primaryColor);
}

.pitch.t {
    border-top: 1px solid var(--tagColor);
    padding-left: 5px;
    padding-right: 5px;
}

.pitch.r {
    border-right: 1px solid var(--tagColor);
    margin-right: -6px;
}

.pitch.b {
    border-bottom: 1px solid var(--tagColor);
}

.pitch.b:not(.r) {
    padding-left: 3px;
}

/* Info Overlay */

.table.conjugation, .table.collocation {
    width: 80%;
    margin-left: 10%;
}

.table.collocation tr:first-child > th {
    border-top: 2px solid var(--lineColor) !important;
}

.table.collocation th, .table.collocation td {
    width: 50%;
}

.table {
    color: var(--primaryTextColor) !important;
}

thead > tr > th {
    color: var(--secondaryTextColor) !important;
    background-color: var(--bgPrimaryColor) !important;
}

table th {
    padding: 0.75rem;
    border-color: var(--searchTextColor) !important;
    border-bottom: 2px solid var(--lineColor) !important;
    border-top: 1px solid var(--lineColor) !important;
}

td {
    border-top: 2px solid var(--lineColor) !important;
}

table tr:last-child > td {
    border-bottom: 2px solid var(--lineColor) !important;
}


/* -------- Kanji Column -------- */

.translation.kanji {
    padding-top: 10px;
    padding-left: 10px;
}