.notifications-container {
    position: absolute;
    top: 60px;
    right: 55px;
    width: 16rem;
    max-height: 22rem;
    z-index: 10;
    overflow: hidden;
    border-radius: .5rem;
    background-color: var(--overlay);
    color: var(--primaryTextColor);
    box-shadow: 0px 8px 20px 0px var(--backgroundShadow);
}

.notifications-info-container {
    display: flex;
    flex-flow: column;
    width: 100%;
    padding: 1rem;
    overflow: hidden;
}

.notification-title {
    padding: .5rem;
    margin: -1rem -1rem .5rem;
    background-color: var(--bgPrimaryColor);
    background: linear-gradient(45deg,var(--bgPrimaryColor),var(--primaryColor));
    color: var(--secondaryTextColor);
    text-align: center;
    text-transform: uppercase;
    font-size: large;
}

#notification-content {
    margin: .5rem 0;
    opacity: .85;
    font-weight: 400;
}

#no-result {
    padding-bottom: 10px;
    text-align: center;
}

.notification-entry {
    border-bottom: 1px solid var(--borderColor);
    margin-bottom: 10px;
}

.entry-title {
    font-weight: bold;
    font-size: 16px;
}

.date-tag {
    position: absolute;
    right: 25px;
    margin-top: -20px;
    font-size: 10px;
}

.content > li {
    line-height: 15px;
}

.button-container {
    display: -webkit-flex;
    display: flex;
    grid-gap: .5rem;
    gap: .5rem;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
}

.button-container > button {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.button-container > button:focus {
}

.button-container > button, .button-container > button:active, .button-container > button:focus, .button-container > button:hover {
    transition: all .2s ease;
}