#settingsModal .modal-body {
    height: 600px;
    margin: 0;
    padding: 0;
}

#settingsModal .choices__list--dropdown .choices__list {
    max-height: 350px;
    overflow-y: scroll;
}

#settingsModal .close {
    margin: -1rem -1rem -1rem auto;
    color: var(--secondaryTextColor);
}

#settingsModal .close:hover {
    color: #a7a7a7;
}

#settingsModal .choices:after {
    right: 15px;
    margin-left: unset;
}

#show_anim_speed_settings_slider {
    font-size: 14px;
}

.mdl-layout__header-row {
    padding-left: 25px !important;
}

.mdl-layout__header, .mdl-layout__tab-bar {
    background-color: var(--headerColor);
}

.mdl-layout__tab-bar-button {
    background-color: var(--headerScrollBar);
}

.mdl-layout__tab-bar {
    width: calc(100% - 56px);
}

.mdl-layout.is-upgraded .mdl-layout__tab.is-active::after {
    background-color: var(--bgPrimaryColor);
}

.page-content {
    margin: 15px;
}

.settings-entry {
    display: flex;
    flex-direction: row;
}

.settings-entry:not(:first-child, .no-gap)  {
    margin-top: 10px;
}

.inner-title {
    width: 60%;
    font-size: 15px;
    align-self: center;
}

.inner-title.display {
    width: 72%;
}

.inner-title.txt-input {
    margin-top: -10px;
}

.mdl-checkbox {
    width: 0%;
}

.mdl-textfield.mdl-js-textfield.is-upgraded {
    width: 100%;
    margin: -20px 0;
    padding-right: 100px;
}

.mdl-textfield.is-focused .mdl-textfield__label:after {
    width: calc(100% - 100px);
}

:root.dark .mdl-textfield__label {
    color: var(--borderColor);
}

.mdl-textfield__label:after {
    background-color: var(--bgPrimaryColor);
}

#show_anim_speed_settings {
    margin-top: 10px;
}

.mdl-textfield__label:after {
    left: 0px;
}

.mdl-checkbox.is-checked .mdl-checkbox__box-outline {
    border-color: var(--primaryColor);
}

.mdl-checkbox.is-checked .mdl-checkbox__tick-outline {
    background-color: var(--primaryColor);
}

:root.dark .mdl-checkbox__box-outline {
    border-color: var(--borderColor);
}

:root.dark .mdl-textfield__input {
    border-color: var(--itemBG);
}

@media only screen and (max-width: 600px) {
	
    .inner-title.big {
        width: 80%;
    }

    .mdl-textfield.mdl-js-textfield.is-upgraded {
        padding-right: 0px;
    }

    .mdl-textfield.is-focused .mdl-textfield__label:after {
        width: 100%;
    }

    .mdl-textfield__label:after {
        left: 45%;
    }

    .inner-title.display {
        width: 76%;
    }

    .slidercontainer.settings {
        text-align: center;
    }
}