<html lang="en"><head>
    <title>Jotoba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/errorPage.css">
  </head>
  <body>
    <div class="err-parent d-flex flex-column">
        <h1 class="err-code">{error code here}</h1>
        <hr>
        <div class="txt-primary">THE PAGE</div> <!-- Alt: SORRY /// class="txt-primary small" makes it a bit smaller --> 
        <div class="txt-secondary">WAS NOT FOUND</div> <!-- Alt: TRY AGAIN LATER -->
        <a class="back-btn" href="jotoba.de">Go back</a>
    </div>
  </body>
</html>