@use crate::web::web_error::InfoText;
@(status_code: u16, info: InfoText)

<html lang="en"><head>
    <title>Jotoba</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="assets/css/lib/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="assets/css/errorPage.css">
  </head>
  <body>
    <div class="err-parent d-flex flex-column">
        <h1 class="err-code">@status_code</h1>
        <hr>
        <div class="txt-primary small">@info.primary</div>
        <div class="txt-secondary">@info.secondary</div>
        <br>
        <a class="back-btn" href="/">Go back</a>
    </div>
  </body>
</html>
