@()
<div class="d-flex center">
    <article>
      <div class="small-12 medium-6 columns small-centered">
          <p>Jotoba is a multilingual Japanese dictionary.</p>
          <p>It is easy to find translations for words or kanji, see<br>example sentences and the way names can be written.</p>
          <p>Here are some examples on how to use this page:</p>
          <ul>
             <li>Press ' / ' to instantly focus the search bar</li>
             <li>Use the selector drop-down to directly search for words, kanji, sentences or names</li>
             <li>Use <a class="clickable" href='/search?type=0&search=world+%23kanji'>#kanji</a> or <a class="clickable" href='/search?type=1&search=world+%23words'>#words</a> if you don't want to click on the selector</li>
             <li>Click on the 'speak' icon to use your voice when searching. It's a good practice!</li>
             <li>You can search multiple kanji at once: <a class="clickable" href="/search?type=1&search=足跡">足跡</a></li>
          </ul>

          <p>Jotoba is open source. Check out our <a class="clickable" href='https://github.com/WeDontPanic/Jotoba'>Github page</a> if you want to contribute or host Jotoba yourself.</p>
      </div>
    </article>
 </div>