<!-- Inner Main Body -->
<div class="d-flex center">
    <!-- Left side: Kanji -->
    <div class="kanji-entry left detail d-flex flex-column">
       <span class="kanji-preview x-large">
       <!-- !!! Das Kanji selbst kommt hier (z.b.: 内) !!! -->
       </span>
       <div class="kanji-preview-info">
          <div class="notes"><b><!-- !!! Anzahl der Strokes hier (z.b.: 4) !!! --> strokes </div>
          <div class="notes"><b>Radical:</b> <!-- !!! Radical(s) hier. (z.b.: open country 冂) !!! --> </div>
          <div class="notes"><b>Parts:</b>  <!-- !!! Parts hier. (z.b.: 人 冂) !!! --> </div>
       </div>
    </div>
    <!-- Right side: Info -->
    <div class="kanji-entry right detail">
       <!-- First Part -->
       <div class="kanji-entry d-flex flex-row">
          <!-- Inner Left Side -->
          <div class="kanji-preview-left">
             <div class="translation big">
                 <!-- !!! Translation hier !!! (z.b. inside, within, between, among, house, home)--> 
             </div>
             <div class="d-flex flex-row">
                <div class="tags no-margin fat right-padding-10 noselect">Kun:</div>
                <!-- !!! @for i in kunReadings oder so hier. immer abwechslung die reading und nen komma !!! --> 
                <div class="clickable no-align fat">あざ.やか</div>
             </div>
             <div class="d-flex flex-row">
                <div class="tags no-margin fat right-padding-20 noselect">On:</div>
                 <!-- !!! @for i in onReadings oder so hier. immer abwechslung die reading und nen komma !!! --> 
                <div class="clickable no-align fat">ナイ</div>
                <div class="tags no-margin fat right-padding-10">,</div>
                <div class="clickable no-align fat">ダイ</div>
             </div>
          </div>
          <!-- Inner Right Side -->
          <div class="kanji-preview-right">
              <!-- !!! @for i in notes oder sowas hier !!! --> 
             <div class="notes">Jōyō kanji, taught in <b>grade 2</b></div>
             <div class="notes">JLPT level <b>N3</b></div>
             <div class="notes"><b>2500</b> of 2500 most used kanji in newspapers</div>
          </div>
       </div>
       <hr/>
       <!-- Second Part -->
       <div class="stroke-container">
            <!-- !!! <img src="assets/svg/{kanji}_frames.svg"> !!! --> 
       </div>
       <div class="animation-container d-flex flex-row">
          <div class="d-flex flex-column slider-parent">
             <div class="slidecontainer">
                <input type="range" min="0.05" max="2" value="1" step="0.05" class="slider" id="speedSlider">
             </div>
             <span id="currentAnimationSpeed" class="slider-output noselect">Animation speed: 1</span>
          </div>
          <div>
             <!-- !!! Copy entire SVG Content of {kanji_animated.svg} here !!! -->
          </div>
       </div>
       <hr/>
       <!-- Reading Compounds -->
       <div class="kanji-entry d-flex flex-row">
          <!-- On Reading -->
          <div class="on-reading">
             <h3 class="noselect">
                On reading compounds
             </h3>
             <div class="d-flex flex-column">
                  <!-- !!! Alle on reading sachen !!! -->
                <span>内 【ナイ】 inside, within</span>
                <span>内科 【ナイカ】 internal medicine, i.e. treatment by medical procedures rather than surgical procedures, department of internal medicine (hospital, etc.)</span>
                <span>島内 【トウナイ】 on an island, on-island</span>
                <span>内裏 【ダイリ】 imperial palace, festival dolls representing the emperor and the empress</span>
                <span>内府 【ナイフ】 Minister of the Interior (669-1868 CE), Lord Keeper of the Privy Seal (1885-1945 CE)</span>
                <span>海内 【カイダイ】 the whole country</span>
             </div>
          </div>
          <!-- Kun Reading -->
          <div class="kun-reading">
             <h3 class="noselect">
                Kun reading compounds
             </h3>
             <div class="d-flex flex-column">
                 <!-- !!! Alle kun reading sachen !!! -->
                <span>内 【うち】 inside, within, while (e.g. one is young), during, within (e.g. a day), in the course of, among, amongst, (out) of, between, in (secret, chaos, poverty, etc.), amidst, with (e.g. success), within oneself, one's feelings, inner thoughts, we, our company, our organization, one's home, one's family, my spouse, my husband, my wife, signed on behalf of (husband's name) by his wife, I, me, imperial palace grounds, emperor</span>
                <span>内々 【うちうち】 private, confidential, informal, secret, (within the) family circle, (on the) inside</span>
                <span>幕内 【まくうち】 highest-ranking division</span>
                <span>幕の内 【まくのうち】 box lunch (containing rice and 10-15 small portions of fish, meat, and vegetables), highest-ranking division, intermission (between acts), interlude</span>
             </div>
          </div>
       </div>
    </div>
 </div>

 <!-- Load this page's script -->
 <script src="assets/js/kanjiAnimation.js"></script>