@use crate::search::sentence::result::Item;
@(sentences: Vec<Item>)

<!-- Inner Top Row -->
<div class="d-flex center no-drag">
  <div class="main-tab-select l">
    <h2 id="previousTabBtn" onclick="changeSearchType(3)" class="tab-btn">&larr; Names</h2>
  </div>

  <!-- Only shown when results were found -->
  <div class="title-div">
    <h1>Sentences</h1>
  </div>

  <!-- Only shown when no results were found -->
   <div class="main-info d-flex flex-column">
    <h3 class="noselect word-title">No results found</h3>
    <br>
    <div class="d-flex center">
      <article style="height: 700px;">
        <div class="small-12 medium-6 columns small-centered">
            <p class="fat">Search Help</p>
            <ul>
               <li>Check your search for typos</li>
               <li>Use more generic search terms</li>
               <li>Your search request might not be included in our database yet</li>
               <li>Try finding your search in a different category using <span class="highlight"> w / s / n / k </span></li>
            </ul>

            <p>
               If you think your search should be contained in our database, submit an issue on <a class="clickable" href='https://github.com/WeDontPanic/Jotoba'>Github</a>.
               <br>
               Also check our <a class="clickable" href='https://trello.com/b/nmG0xgaW/jotoba'>Trello Board</a> since we might be working on it!
            </p>
        </div>
      </article>
   </div>
 </div>
 <!-- Only shown when no results were found -->

  <div class="main-tab-select r">
    <h2 id="nextTabBtn" onclick="changeSearchType(0)" class="tab-btn">Words &rarr;</h2>
  </div>
</div>
<br>

<!-- Inner Main Body -->
<div class="d-flex center">
  <div class="main-info d-flex flex-column">

    <!-- !!! Start of Sentence Template  !!! -->
    @for sentence in sentences {
      <div class="list-entry sentence">
        <div class="d-flex flex-row wrap sentence">

          @for spair in sentence.sentence.furigana_pairs() {
            @if spair.kanji.is_some() {
              <div class="furigana-kanji-container">
                <span class="furigana-preview small noselect">
                  @spair.as_furigana()
                </span>
                <span class="kanji-preview small">
                  @spair.kanji.unwrap()
                </span>
              </div>
            } else {
              <div class="inline-kana-preview small">
                @spair.kana
              </div>
            }
          }
        </div>

        <div class="sentence-translation original">
          @sentence.sentence.translation
        </div>
        @if let Some(ref english) = sentence.sentence.get_english() {
          <hr class="lang-separator"/>
          <div class="sentence-translation">
            @english
          </div>
        }
      </div>
     <hr class="res-separator sentence" />
    }

  </div>
</div>

