@use crate::search::sentence::result::Item;
@(sentences: Vec<Item>)

<!-- Inner Top Row -->
<div class="d-flex center no-drag">
  <div class="main-tab-select l">
    <h2 id="previousTabBtn" onclick="changeSearchType(3)" class="tab-btn">&larr; Names</h2>
  </div>
  <div class="title-div">
    <h1>Sentences</h1>
  </div>
  <div class="main-tab-select r">
    <h2 id="nextTabBtn" onclick="changeSearchType(0)" class="tab-btn">Words &rarr;</h2>
  </div>
</div>
<br>

<!-- Inner Main Body -->
<div class="d-flex center">
  <div class="main-info d-flex flex-column">

    <!-- !!! Start of Sentence Template  !!! -->
    @for sentence in sentences {
      <div class="list-entry sentence">
        <div class="d-flex flex-row wrap sentence">

          @for spair in sentence.sentence.furigana_pairs() {
            @if spair.kanji.is_some() {
              <div class="furigana-kanji-container">
                <span class="furigana-preview small noselect">
                  @spair.as_furigana()
                </span>
                <span class="kanji-preview small">
                  @spair.kanji.unwrap()
                </span>
              </div>
            } else {
              <div class="inline-kana-preview small">
                @spair.kana
              </div>
            }
          }
        </div>

        <div class="sentence-translation original"> <!-- Hier die eigentliche Übersetzung (deutsch z.b.)-->
          @sentence.sentence.translation
        </div>
        <hr class="lang-separator"/>
        <div class="sentence-translation"> <!-- Hier die englische Übersetzung-->
          @sentence.sentence.translation 2
        </div>
      </div>
     <hr class="res-separator sentence" />
    }

  </div>
</div>

