@use crate::search::word::result::Item;
@(results: Vec<Item>)
  <!-- Inner Top Row -->
  <div class="d-flex center no-drag">
    <div class="main-tab-select l">
      <h2 id="previousTabBtn" onclick="changeSearchType(2)" class="tab-btn">&larr; Sentences</h2>
    </div>
    <div class="title-div">
      <h1>Words and kanji</h1>
    </div>
    <div class="main-tab-select r">
      <h2 id="nextTabBtn" onclick="changeSearchType(3)" class="tab-btn">Names &rarr;</h2>
    </div>
  </div>
  <br>
  <!-- Inner Main Body -->
  <div id="content-container" class="d-flex center">
    <div class="main-info d-flex flex-column">
      <h3 class="noselect">Words</h3>

      <!-- Word, Sentence, Name Templates here -->
      @for i in results.iter() {
        @if let Item::Word(word) = i {

          @if word.get_reading().len() > 3 {
            <div class="d-flex flex-row"> 
              @if let Some(s_pairs) = word.get_furigana() {
                @for spair in s_pairs {
                  @if spair.kanji.is_some() {
                     <div class="furigana-kanji-container">
                        <span class="furigana-preview noselect">
                           @spair.as_furigana()
                        </span>
                        <span class="kanji-preview">
                           @spair.kanji.unwrap()
                        </span>
                     </div>
                  } else {
                     <div class="inline-kana-preview">
                        @spair.kana
                     </div>
                  }
                }
              } else {
                <div class="inline-kana-preview">
                  @word.get_reading().reading
                </div>
              }
            </div>
          }

          <div class="d-flex center">
            <!-- Left side: Writing -->
            <div class="kanji-entry left fixed d-flex flex-column">

              @if word.get_reading().len() <= 3 {
                <div class="d-flex flex-row"> 
                  @if let Some(s_pairs) = word.get_furigana() {
                    @for spair in s_pairs {
                      @if spair.kanji.is_some() {
                         <div class="furigana-kanji-container">
                            <span class="furigana-preview noselect">
                               @spair.as_furigana()
                            </span>
                            <span class="kanji-preview">
                               @spair.kanji.unwrap()
                            </span>
                         </div>
                      } else {
                         <div class="inline-kana-preview">
                            @spair.kana
                         </div>
                      }
                    }
                  } else {
                    <div class="inline-kana-preview">
                      @word.get_reading().reading
                    </div>
                  }
                </div>
              }

              @if word.is_common() {
                <div class="word-frequency common">
                  common word
                </div>
              }
              @if let Some(lvl) =  word.reading.get_jplt_lvl() {
                <div class="word-frequency">
                  jlpt n@lvl
                </div>
              }
              @if let Some(audio) = word.audio_file() {
                <span class="clickable audioBtn">Play audio
                  <audio>
                    <source src="assets/audio/@audio" type="audio/ogg">
                  </audio>
                </span>
              }
            </div>

            <div class="kanji-entry right">
              <div class="entry-min-height-@word.get_word_tag_count()">
                <!-- Right side: Info -->
                @for (spos, senses_compound) in word.get_senses().iter().enumerate() {
                  @for (pos, sense) in senses_compound.iter().enumerate() {
                    @if !sense.glosses.is_empty() {
                      <!-- Sense entry -->
                      <div class="list-entry">
                        <div class="tags">
                          @sense.get_parts_of_speech()
                        </div>
                        <div class="definition-wrapper d-flex flex-row">
                          <div class="entry-count">
                            @(pos+1).
                          </div>
                          <div class="translation">
                            @sense.get_glosses()
                          </div>
                        </div>
                        @if let Some(ref misc) = sense.get_misc() {
                          <div class="tags no-margin">
                            @misc
                          </div>
                        }
                      </div>
                    }
                  }

                  @if spos == 0 && !word.get_senses()[1].is_empty() && !senses_compound.is_empty() {
                    <hr class="lang-separator"/>
                  }
                }
              </div>

              <!-- Additional Informations-->
              @if !word.reading.alternative.is_empty() {
                <div class="tags">Other forms</div>
                <div class="notes">@word.alt_readings_beautified()</div>
              }

              <hr class="res-separator" />
            </div>
          </div>
        }
      }
      
    </div>
    <div id="secondaryInfo" class="secondary-info">
      <h3 class="noselect">Kanji</h3>
      <!-- Kanji Templates here -->
      @for i in results {
        @if let Item::Kanji(kanji) = i {
          <div>
            <!-- Tags -->
            <div class="tags">
              @kanji.stroke_count strokes.
              @if let Some(jplt_lvl) = kanji.jlpt {
                JLPT N@jplt_lvl.
              }
              @if let Some(school_str) = kanji.school_str() {
                @school_str
              }
            </div>

            <!-- Kanji and translation -->
            <div class="kanji-entry left d-flex flex-row">
              <a class="kanji-preview large black" href="/search?type=1&search=@kanji.literal">
                @kanji.literal
              </a>
              <div class="translation kanji">
                @kanji.meaning.join(", ")
              </div>
            </div>

            <!-- Kun readings -->
            @if let Some(ref kun) = kanji.kunyomi {
              <div class="tags no-margin">Kun</div>
              <div class="d-flex flex-row wrap noselect">
                @for (pos, reading) in kun.iter().enumerate() {
                  @if pos > 0 {
                    <span class="tags no-margin fat right-padding-10">,</span>
                  }
                  <a class="clickable no-align green" href="/search?type=0&search=@kanji.literal+@reading">@reading</a>
                }
              </div>
            }

            <!-- On readings -->
            @if let Some(ref on) = kanji.onyomi {
              <div class="tags no-margin">On</div>
              <div class="d-flex flex-row wrap noselect">
                @for (pos, reading) in on.iter().enumerate() {
                  @if pos > 0 {
                    <span class="tags no-margin fat right-padding-10">,</span>
                  }
                  <a class="clickable no-align green" href="/search?type=0&search=@kanji.literal+@reading">@reading</a>
                }
              </div>
            }

            <hr />
          </div>
        }
      }
    </div>
  </div>
