@use crate::search::result::Item;
@use crate::japanese::*;
@(results: Vec<Item>)
  <!-- Inner Top Row -->
  <div class="d-flex center no-drag">
    <div class="main-tab-select l">
      <h2 id="previousTabBtn" class="tab-btn" onclick="$('#secondaryInfo').toggleClass('hidden');">&larr; Sätze</h2>
    </div>
    <div class="title-div">
      <h1>Wörter und Kanji</h1>
    </div>
    <div class="main-tab-select r">
      <h2 id="nextTabBtn" class="tab-btn">Namen &rarr;</h2>
    </div>
  </div>
  <br>
  <!-- Inner Main Body -->
  <div class="d-flex center">
    <div class="main-info d-flex flex-column">
      <h3>Wörter</h3>

      <!-- Word, Sentence, Name Templates here -->
      <!-- !!! Word Template start !!! -->
      @for i in results {
        @if let Item::Word(word) = i {
          <div class="d-flex center">
            <!-- Left side: Writing -->
            <div class="kanji-entry left d-flex flex-column">

              @if word.reading.kanji.is_some() && word.reading.kanji.is_some() {
                <span class="furigana-preview">
                  @furigana(word.clone().reading.kanji.unwrap().reading.as_str(), word.clone().reading.kana.unwrap().reading.as_str())
                </span>
              }

              <span class="kanji-preview">
                @word.clone().reading.kanji.map(|i|i.reading).unwrap_or(word.clone().reading.kana.unwrap().reading)
              </span>
              @if word.is_common() {
                <div class="word-frequency common">
                  common word
                </div>
              }
              @if let Some(lvl) =  word.reading.get_jplt_lvl() {
                <div class="word-frequency">
                  jlpt n@lvl
                </div>
              }
              <span class="clickable">Vorlesen</span>
            </div>

            <div class="kanji-entry right">
            <!-- Right side: Info -->
            @for (pos, sense) in word.senses.iter().enumerate() {
              @if sense.glosses.is_empty() {
                @continue;
              }

              <!-- Entry -->
              <div class="list-entry">
                <div class="tags">
                  @sense.get_tags()
                </div>
                <div class="definition-wrapper d-flex flex-row">
                  <div class="entry-count">
                    @(pos+1)
                  </div>
                  <div class="translation">
                    @sense.get_glosses()
                  </div>
                </div>
                @if let Some(ref misc) = sense.get_misc() {
                  <div class="tags no-margin">
                    @misc
                  </div>
                }
              </div>
            }

              <!-- Additional Informations-->
              @if !word.reading.alternative.is_empty() {
                <div class="tags">Other forms</div>
                <div class="notes">@word.alt_readings_beautified()</div>
              }
              <!--<div class="tags">Anmerkungen</div>-->
              <!--<div class="notes">鮮か: Irregular okurigana usage. 彩やか: Irregular kanji usage.</div>-->
              <hr />
            </div>

          </div>
        }
      }
      <!-- !!! End of Word Template !!! -->

    </div>
    <div id="secondaryInfo" class="secondary-info">
      <!-- Das hier muss per display:none bei anderen tabs deaktiviert werden -->
      <h3>Kanji</h3>
      <!-- Kanji Templates here -->
      <!-- !!! Start of Kanji Template !!! -->
      <div>
        <!-- Tags -->
        <div class="tags">
          17 strokes. JLPT N1. Jōyō kanji, taught in junior high.
        </div>

        <!-- Kanji and translation -->
        <div class="kanji-entry left d-flex flex-row">
          <span class="kanji-preview large">
            鮮
          </span>
          <div class="translation kanji">
            fresh, vivid, clear, brilliant, Korea
          </div>
        </div>

        <!-- Kund and On readings -->
        <div class="tags no-margin">Kun</div>
        <div class="notes">あざ.やか</div>
        <div class="tags no-margin">On</div>
        <div class="notes">セン</div>

        <hr />
      </div>
      <!-- !!! End of Kanji Template !!! -->
    </div>
  </div>
