@use crate::search::result::Item;
@(results: Vec<Item>)
  <!-- Inner Top Row -->
  <div class="d-flex center no-drag">
    <div class="main-tab-select l">
      <h2 id="previousTabBtn" class="tab-btn">&larr; Sätze</h2>
    </div>
    <div class="title-div">
      <h1>Words and kanji</h1>
    </div>
    <div class="main-tab-select r">
      <h2 id="nextTabBtn" class="tab-btn">Namen &rarr;</h2>
    </div>
  </div>
  <br>
  <!-- Inner Main Body -->
  <div class="d-flex center">
    <div class="main-info d-flex flex-column">
      <h3 class="noselect">Words</h3>

      <!-- Word, Sentence, Name Templates here -->
      @for i in results.iter() {
        @if let Item::Word(word) = i {

          @if word.get_reading().len() > 3 {
            <div class="d-flex flex-row"> 
              @if let Some(s_pairs) = word.get_furigana() {
                @for spair in s_pairs {
                  @if spair.kanji.is_some() {
                     <div class="furigana-kanji-container">
                        <span class="furigana-preview noselect">
                           @spair.as_furigana()
                        </span>
                        <span class="kanji-preview">
                           @spair.kanji.unwrap()
                        </span>
                     </div>
                  } else {
                     <div class="inline-kana-preview">
                        @spair.kana
                     </div>
                  }
                }
              } else {
                <div class="inline-kana-preview">
                  @word.get_reading().reading
                </div>
              }
            </div>
          }

          <div class="d-flex center">
            <!-- Left side: Writing -->
            <div class="kanji-entry left fixed d-flex flex-column">

              @if word.get_reading().len() <= 3 {
                <div class="d-flex flex-row"> 
                  @if let Some(s_pairs) = word.get_furigana() {
                    @for spair in s_pairs {
                      @if spair.kanji.is_some() {
                         <div class="furigana-kanji-container">
                            <span class="furigana-preview noselect">
                               @spair.as_furigana()
                            </span>
                            <span class="kanji-preview">
                               @spair.kanji.unwrap()
                            </span>
                         </div>
                      } else {
                         <div class="inline-kana-preview">
                            @spair.kana
                         </div>
                      }
                    }
                  } else {
                    <div class="inline-kana-preview">
                      @word.get_reading().reading
                    </div>
                  }
                </div>
              }

              @if word.is_common() {
                <div class="word-frequency common">
                  common word
                </div>
              }
              @if let Some(lvl) =  word.reading.get_jplt_lvl() {
                <div class="word-frequency">
                  jlpt n@lvl
                </div>
              }
              <span class="clickable">Play audio</span>
            </div>

            <div class="kanji-entry right">
            <!-- Right side: Info -->
            
              @if (word.is_common() && word.jlpt...) {
                <div class="entry-min two">
              }
              @elseif (word.is_common || word.jlpt...) {
                <div class="entry-min one">
              }
              @else {
                <div>
              }

                @for (pos, sense) in word.senses.iter().enumerate() {
                  @if !sense.glosses.is_empty() {
                    <!-- Entry -->
                    <div class="list-entry">
                      <div class="tags">
                        @sense.get_tags()
                      </div>
                      <div class="definition-wrapper d-flex flex-row">
                        <div class="entry-count">
                          @(pos+1).
                        </div>
                        <div class="translation">
                          @sense.get_glosses()
                        </div>
                      </div>
                      @if let Some(ref misc) = sense.get_misc() {
                        <div class="tags no-margin">
                          @misc
                        </div>
                      }
                    </div>
                  }
                }
                <!-- Additional Informations-->
                @if !word.reading.alternative.is_empty() {
                  <div class="tags">Other forms</div>
                  <div class="notes">@word.alt_readings_beautified()</div>
                }
              </div>
              <hr />
            </div>
          </div>
        }
      }
      
    </div>
    <div id="secondaryInfo" class="secondary-info">
      <h3 class="noselect">Kanji</h3>
      <!-- Kanji Templates here -->
      @for i in results {
        @if let Item::Kanji(kanji) = i {
          <div>
            <!-- Tags -->
            <div class="tags">
              @kanji.stroke_count strokes.
              @if let Some(jplt_lvl) = kanji.jlpt {
                JLPT N@jplt_lvl.
              }
              @if let Some(school_str) = kanji.school_str() {
                @school_str
              }
            </div>

            <!-- Kanji and translation -->
            <div class="kanji-entry left d-flex flex-row">
              <span class="kanji-preview large noselect">
                @kanji.literal
              </span>
              <div class="translation kanji">
                @kanji.meaning.join(", ")
              </div>
            </div>

            <!-- Kun and On readings -->
            @if let Some(ref kun) = kanji.kunyomi {
              <div class="tags no-margin">Kun</div>
              <div class="d-flex flex-row wrap noselect">
                @for (pos, reading) in kun.iter().enumerate() {
                  @if pos > 0 {
                    <span class="tags no-margin fat right-padding-10">,</span>
                  }
                  <span class="clickable no-align">@reading</span>
                }
              </div>
            }

            @if let Some(ref on) = kanji.onyomi {
              <div class="tags no-margin">On</div>
              <div class="d-flex flex-row wrap noselect">
                @for (pos, reading) in on.iter().enumerate() {
                  @if pos > 0 {
                    <span class="tags no-margin fat right-padding-10">,</span>
                  }
                  <span class="clickable no-align">@reading</span>
                }
              </div>
            }

            <hr />
          </div>
        }
      }
    </div>
  </div>
