/* ----------------- Index Page ----------------- */

.title {
    padding-top: 5%;
    padding-bottom: 2.5%;
    margin: auto;
    width: 30%;
}

.titleImg {
    width: 30vw;
}

.index-btn-container {
    display: flex;
    place-content: center;
}

.settingsBtn.index {
    position: absolute;
    top: 15px;
    left: 15px;
}

#settingsSvg.index {
    fill: var(--tagColor);
}

.index-search-svg {
    margin-top: -5px; 
    fill: var(--tagColor);
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
    border-top-left-radius: 20px !important;
}

.inner-form.index {
    border-radius: 20px !important;
}

.choices__list.choices__list--dropdown.index.is-active {
    animation: dropdownAnim 0.2s linear forwards;
}

.choices__list.choices__list--dropdown.index:not(.is-active) {
    display: unset !important;
    animation: dropdownAnimClose 0.2s linear forwards;
}

@keyframes dropdownAnim {
    from {height: 0px;}
    to { height: 325%;}
}

@keyframes dropdownAnimClose {
    from {height: 325%; }
    to { height: 0%; display:hidden !important;}
}

.input-field.index {
    width: 120px;
    height: 45px;
    margin: 11px 4px;
}

.input-field.index.rad {
    width: 180px;
    height: 45px;
    margin: 11px 4px;
}

.btn-search {
    color: white !important;
}

.input-field.index.rad > .btn-search {
    background: var(--secondaryColor);
}

.rad-picker-icon.index {
    color: white;
    font-size: 22px;
}

body.index {
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer.index {
    grid-row-start: 2;
    grid-row-end: 3;
}