/* ----------------- Color Themes ----------------- */

:root, :root.light {
    /* Editable */
    --background: #f2f1f0;
    --overlay: #f3f3f3;

    --primaryColor: #34a83c;
    --bgPrimaryColor: #50c058;
    --secondaryColor: #909DC0;
    
    --primaryTextColor: #222222;    
    --secondaryTextColor: #ffffff;

    --searchBackground: #ffffff;
    --searchTextColor: #555555;
    --shadowColor: #222222;
    
    --tagColor: #808080;
    --itemBG: #d3d3d3;

    --danger: #dc3545;
    --danger2: #dd4c5b;

    /* Special */
    --itemBG_075: rgb(211, 211, 211, 0.75);
    --langSep: rgba(50,103,51,.1);
    --lineColor: rgba(0,0,0,.1);
    --backgroundShadow: rgba(34,34,34,0.1);

    /* Used by Radical Picker */
    --borderColor: var(--searchTextColor);
    --disabledColor: #BDBDBD;

    /* Used by overlays */
    --headerColor: var(--borderColor);
    --headerScrollBar: var(--borderColor);

    /* Overlay Button */
    --buttonText: #1f1f1f;
    --buttonBg: #dedede;
    --buttonBgActive: #e6e6e6;
}

:root.dark {
    --background: #202324;
    --overlay: #1F2123;

    --primaryColor: #62CF6A;
    --bgPrimaryColor: #2A8630;
    --secondaryColor: #435993;

    --primaryTextColor: #D3CFC9;
    --secondaryTextColor: #D1D1D1;

    --searchBackground: #181A1B;
    --searchTextColor: #B2ACA2;
    --shadowColor: #9D9488;

    --tagColor: #787878;
    --itemBG: #7A7A7A;

    --itemBG_075: rgba(122,122,122,0.75);
    --lineColor: rgba(211,207,201,0.1);
    --backgroundShadow: rgba(157,148,136,0.1);

    --borderColor: var(--itemBG_075);
    --disabledColor: #3C3C3C;

    --headerColor: var(--lineColor);
    --headerScrollBar: #434344;

    --buttonText: #fff;
    --buttonBg: #404040;
    --buttonBgActive: #515151;
}

:root.dark ::selection {
    background: var(--secondaryColor);
}

/* ------------------- Scrollbar Adjustments ------------------- */

* {
    scrollbar-width: thin;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
    background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #c1c1c1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8a8a8;
}

:root.dark ::-webkit-scrollbar-thumb {
    background-color: var(--itemBG);
}

/* ----------------- Overall Page Adjustments ----------------- */

html, body {
    font-size: 100%;
    background: var(--background) !important;
}

body {
    color: var(--primaryTextColor);
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans JP", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: auto;
}

h3, h4 {
    font-family: "Helvetica","Arial",sans-serif;
}

body {
    min-height: 100vh;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr auto;
}

footer {
    grid-row-start: 2;
    grid-row-end: 3;
}

.noselect, .tags, .clickable, .entry-count, .no-drag {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */ /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select:none; /* Opera */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */;
}

button {
    display: flex;
    place-content: center;
    place-items: center;
}

.btn-danger {
    color: white !important;
    background-color: var(--danger) !important;
    border-color: var(--danger) !important;
}

.btn-danger:not(:disabled):not(.disabled).active:focus, .btn-danger:not(:disabled):not(.disabled):active:focus {
    box-shadow: unset;
}

.btn-danger:hover {
    background-color: var(--danger2) !important;
}

.close:focus {
    outline: 0;
}

object {
    pointer-events: none;
}

.vl {
    border-left: 1px solid var(--searchTextColor);
}

h3 {
    font-size: 22px;
    text-align: center;
    text-align: -webkit-center;
    font-weight: bold;
} 

h4 {
    font-size: 11px;
    color: var(--searchTextColor);
    margin: 2px 0 0 0;
}

.hidden {
    display: none !important;
}

.highlight {
    color: var(--primaryColor);
}

.indented {
    margin-left: 5%;
}

.clickable {
    color: var(--primaryColor);
    text-align: center;
    text-align: -webkit-center;
    cursor: pointer;
}

.clickable.title {
    font-size: 22px;
    font-weight: bold;
}

.clickable.fat {
    font-size: 20px;
}

.clickable:hover{
   text-decoration: underline;
   color: var(--primaryColor);
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

.no-align {
    text-align: unset;
}

.text-left {
    text-align: left;
}

.top-padding-05-rem {
    padding-top: 0.5rem
}

.right-padding-10 {
    padding-right: 10px;
}

.right-padding-20 {
    padding-right: 20px;
}

.d-flex.wrap {
    flex-wrap: wrap;
}

.no-highlight {
    color: var(--primaryTextColor);
}

.no-highlight:hover {
    text-decoration: none;
}

a:hover {
    color: unset;
    text-decoration: unset !important;
}

.black {
    color: var(--primaryTextColor);
}

.fat {
    font-weight: bold;
}

.center-text {
    text-align: center;
    text-align: -webkit-center;
}

/* ----------------- Commonly Used CSS ----------------- */

.search-suggestion {
    color: inherit;
}

.search-suggestion:focus, .search-suggestion:link, .search-suggestion:visited, .search-suggestion:hover {
    text-decoration: none;
}

#page-container {
    max-width: 98.5vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container {
    width: 100%;
    max-width: 1150px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.main-info {
    width: 100%;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 10px;
}

.secondary-info {
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 10px;
}

.tags {
    color: var(--tagColor);
    font-size: 12px;
    margin-top: 6px;
}

.tags.fat {
    font-size: 20px;
    font-weight: bold;
    color: var(--primaryTextColor);
}

.tags.slim {
    font-size: 20px;
    font-weight: 400;
    color: var(--primaryTextColor);
    margin-top: -5px !important;
}

.tags.no-margin {
    margin-top: 0px;
}

.d-flex .row-tag-entry + .row-tag-entry {
    padding-left: 10px;
}

.entry-count  {
    color: var(--tagColor);
    line-height: 30px;
    margin-right: 5px;
    position: relative;
    height: 100%;
}

/* --- Slider adjustments --- */

.slider-parent {
    padding-top: 30px;
    padding-right: 20px;
    width: 150px;
}

.slider-output {
    font-size: 13px;
    padding-top: 10px;
    color: var(--primaryColor);
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 130px;
    height: 15px;
    border-radius: 10px;  
    background: var(--itemBG);
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}
:root.dark .slider:hover {
    opacity: 0.8;
}
  
/* The slider handle for webkit and mozilla with its extra shit */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    border-color: var(--bgPrimaryColor);
    background: var(--bgPrimaryColor);
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--primaryColor);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--bgPrimaryColor);
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background-color: var(--primaryColor);
}

.res-separator {
  border-top: 2px solid var(--lineColor);
  margin-right: 5px;
}

.res-separator.sentence {
    width: 100%;
}

/* Useful stuff */

.flex-center {
    display: flex;
    place-content: center;    
}

#loading-screen {
    visibility: hidden;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.15s linear;
    z-index: 2000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-screen.show {
    display: block;
    opacity: 0.5;
}

.loading-animation {
    border: 16px solid var(--itemBG);
    border-radius: 50%;
    border-top: 16px solid var(--primaryColor);
    width: 100px;
    height: 100px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* SVG Colors */

:root.dark .mobile-nav-btn > div, :root.dark .mobile-nav-inner-btn > div:not(.jumpSvg) {
    background-color: var(--searchTextColor) !important;
    color: var(--searchTextColor) !important;
}

:root.dark .mobile-nav-inner-btn > span {
    color: var(--searchTextColor) !important;
}

.searchSvg, .settingsSvg, .clearSvg, .voiceSvg {
    mask-size: cover !important;
    -webkit-mask-size: cover !important; 
}

.searchSvg {
    height: 18px;
    width: 18px;
    background-color: var(--primaryColor);
    mask: url("/assets/svg/ui/search.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/search.svg") no-repeat center;
}

.searchSvg.index {
    height: 16px;
    width: 16px;
    margin-top: 3px;
    margin-left: 5px;
    background-color: var(--secondaryTextColor);
}

.settingsSvg {
    height: 30px;
    width: 30px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/settings.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/settings.svg") no-repeat center;
}

.infoSvg {
    scale: 1.1;
    height: 30px;
    width: 30px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/info.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/info.svg") no-repeat center;
}

.notificationSvg {
    scale: 1.1;
    height: 30px;
    width: 30px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/notification.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/notification.svg") no-repeat center;
}

.settingsSvg.mobile {
    height: 26px;
    width: 26px;
}

.clearSvg {
    height: 20px;
    width: 20px;
    margin-top: 2px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/clear.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/clear.svg") no-repeat center;
}

.voiceSvg {
    margin-top: 2px;
    height: 24px;
    width: 24px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/voice.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/voice.svg") no-repeat center;
}

.voiceSvg.mobile {
    height: 30px;
    width: 30px;
    background-color: var(--tagColor);
}

.voiceSvg.index {
    margin-top: -7px;
    height: 30px;
    width: 30px;
}

.voiceSvg.active {
    background-color: var(--primaryColor) !important;
}

.cameraSvg {
    height: 28px;
    width: 28px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/camera.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/camera.svg") no-repeat center;
}

.cameraSvg.index {
    margin-top: -5px;
    margin-right: 33px;
}

.jumpSvg {
    margin-left: -1px;
    height: 26px;
    width: 26px;
    background-color: var(--primaryColor) !important;
    mask: url("/assets/svg/ui/jump.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/jump.svg") no-repeat center;
}

.menuSvg {
    height: 28px;
    width: 28px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/menu.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/menu.svg") no-repeat center;
}

.undoSvg {
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/undo.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/undo.svg") no-repeat center;
    cursor: pointer;
}

.imgUploadSvg {
    margin: 11px 14px 0px -35px;
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/upload.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/upload.svg") no-repeat center;
    cursor: pointer;
}

.downloadSvg {
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/download.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/download.svg") no-repeat center;
    cursor: pointer;
    pointer-events: none;
}

.conjugationSvg {
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/conjugation.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/conjugation.svg") no-repeat center;
    cursor: pointer;
    pointer-events: none;
}

.sentenceSvg {
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/sentence.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/sentence.svg") no-repeat center;
    cursor: pointer;
    pointer-events: none;
}

.transitivitySvg {
    height: 20px;
    width: 20px;
    background-color: var(--tagColor);
    mask: url("/assets/svg/ui/transitivity.svg") no-repeat center;
    -webkit-mask: url("/assets/svg/ui/transitivity.svg") no-repeat center;
    cursor: pointer;
    pointer-events: none;
}