/* ----------------- Color Design ----------------- */
:root {
    /* Editable */
    --background: #f2f1f0;
    --overlay: #f3f3f3;

    --primaryColor: #34a83c;
    --bgPrimaryColor: #50c058;
    --secondaryColor: #909DC0;
    
    --primaryTextColor: #222222;    
    --secondaryTextColor: #ffffff;

    --searchBackground: #ffffff;
    --searchTextColor: #555555;
    
    --tagColor: #888888;
    --itemBG: #d3d3d3;

    /* Special */
    --itemBG_075: rgb(211, 211, 211, 0.75);
    --langSep: rgba(50,103,51,.1);
    --lineColor: rgba(0,0,0,.1);
}

/* ----------------- Overall Page Adjustments ----------------- */

html, body {
    font-size: 100%;
    background: var(--background) !important;
}

body {
    color: var(--primaryTextColor);
    cursor: auto;
    font-family: "Helvetica Neue", Helvetica, Arial, "Source Han Sans", "源ノ角ゴシック", "Hiragino Sans", "HiraKakuProN-W3", "Hiragino Kaku Gothic ProN W3", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Noto Sans", "Noto Sans CJK JP", "メイリオ", Meiryo, "游ゴシック", YuGothic, "ＭＳ Ｐゴシック", "MS PGothic", "ＭＳ ゴシック", "MS Gothic", sans-serif;
    font-style: normal;
    font-weight: normal;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    position: relative;
    -webkit-font-smoothing: auto;
}

.noselect, .tags, .clickable, .entry-count, .no-drag {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    -o-user-select:none; /* Opera */
    user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */;
}

.vl {
    border-left: 1px solid var(--searchTextColor);
}

h3 {
    font-size: 22px;
    text-align: center;
    font-weight: bold;
} 

h4 {
    font-size: 11px;
    color: var(--searchTextColor);
    margin: 2px 0 0 0;
}

.hidden {
    display: none !important;
}

.highlight {
    color: var(--primaryColor);
}

.clickable {
    color: var(--primaryColor);
    text-align: center;
    cursor: pointer;
}

.clickable.title {
    font-size: 22px;
    font-weight: bold;
}

.clickable.fat {
    font-size: 20px;
}

.clickable:hover{
   text-decoration: underline;
   color: var(--primaryColor);
}

.no-margin {
    margin: 0px 0px 0px 0px !important;
}

.no-align {
    text-align: unset;
}

.text-left {
    text-align: left;
}

.top-padding-05-rem {
    padding-top: 0.5rem
}

.right-padding-10 {
    padding-right: 10px;
}

.right-padding-20 {
    padding-right: 20px;
}

.d-flex.wrap {
    flex-wrap: wrap;
}

.no-highlight {
    color: var(--primaryTextColor);
}

.no-highlight:hover {
    text-decoration: none;
}

a:hover {
    color: unset;
}

.black {
    color: var(--primaryTextColor);
}

.fat {
    font-weight: bold;
}

/* ----------------- Search Row ----------------- */

#search-row {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#emptyInput {
    position: absolute;
    height: 30px;
    margin-top: 10px; 
    right: 5px;
}

#emptyInput:focus {
    outline: none;
    box-shadow: none;
}

.input-group {
    height: 100%;
}

svg {
    fill: var(--searchTextColor);
}

.kanjisvg > path {
    stroke: var(--primaryTextColor);
}

.d-flex.center {
    justify-content: center;
}

.btn-container {
    text-align: center;
    width: 46px;
    padding: 5px 0;
    margin-left: 6px;
    cursor: pointer;
}

.btn-container div {
    float: left;
    width: 30px;
}

.btn-container.rad {
    margin-top: -8px;
    margin-right: -7px;
}

.rad-picker-icon {
    font-size: 33px;
    color: var(--searchTextColor);
}

.rad-picker-txt {
    margin-top: -9px;
}

#searchDiv {
    z-index: 1;
    margin-left: 15px;
    width: 100%;
    max-width: 1000px;
    position: relative;
}
 
.d-flex.left {
    flex-direction: row;
    justify-content: left;
}

.overlay {
    z-index: -1;
    margin-top: -1px;
    position: absolute;
    width: 100%;
    height: max-content;
    border: 2px solid var(--searchBackground);
    border-top: none;
    background-color: var(--searchBackground);
    box-shadow: 0px 8px 20px 0px var(--lineColor)
}

.x-button {
    position: absolute;
    right: 10px;
    font-size: larger;
}

.x-button:hover {
    cursor: pointer;
}

/* ----------------- Search Suggestion ----------------- */

#search::selection {
    color: var(--primaryTextColor);
    background-color: var(--secondaryColor);
}

.overlay.suggestion {
    border: unset;
    width: 72.5%;
    margin-left: 20%;
}

.search-suggestion {
    padding-left: 30px;
    padding-bottom: 5px;
    font-size: 16px;
    cursor: pointer;
}

.search-suggestion:first-child {
    padding-top: 5px;
}

.search-suggestion.selected, .search-suggestion:hover {
    background: var(--lineColor);
    font-weight: bold;
}

.secondary-suggestion {
    color: var(--tagColor);
    position: absolute;
    font-size: 14px;
    padding-left: 10px;
    margin-top: 1px;
}

#shadow-text {
    position: absolute;
    pointer-events: none;
    height: 100%;
    background: transparent;
    border: 0;
    display: block;
    width: 100%;
    padding: 13px 32px;
    font-size: 16px;
    color: var(--searchTextColor);
    z-index: 4;
    opacity: 0.4;
}

/* ----------------- Overlays ----------------- */
.modal-header {
    border-bottom-color: var(--lineColor);
}

.modal-footer {
    border-top-color: var(--lineColor);
}

.modal-content {
    background-color: var(--overlay);
}

.inner-title {
    text-decoration: underline;
    font-size: 15px;
    font-weight: bold;
}

#default_lang_settings {
    margin-top: 0.25rem !important;
}

.form-control.small {
    width: 100%;
    height: 20px;
    padding: 0;
    padding-left: 1%;
    display: inline;
    color: var(--searchTextColor);
    background: var(--searchBackground);
    border-color: var(--lineColor);
}

.form-control.small:focus {
    box-shadow: unset;
}

.colorLbl {
    width: 90px;
}

input[type="color"] {
    margin-right: 0.25em;
}

.hr-settings {
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.vl-settings {
    border-left: 1px solid var(--lineColor);
    height: 100%;
    margin-right: 0.25rem;
}

.mdl-tooltip {
    font-size: 12px;
}

.cookie-footer {
    display: block;
    position: fixed;
    left: 10%;
    bottom: 0;
    width: 80%;
    padding: 10px;
    background: var(--overlay);
    border: 2px solid var( --tagColor);
    border-radius: 10px 10px 0px 0px;
    border-bottom: 0px;
}

.cookie-btn {
    margin-top: 10px;
    margin-right: 10px;
}

/* ----------------- Main Page container ----------------- */

.page-container {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

.main-container {
    width: 1150px;
    height: max-content;
}

.title-div {
    text-align: center;
    width: 80%;
}

.title-div h1 {
    font-weight: bold;
    font-size: xx-large;
}

.title-div h4 {
    font-size: medium;
}

.main-tab-select {
    padding-top: 25px;
    width: 100%;
}

.main-tab-select.l {
    padding-right: 10px;
    display: flex;
    justify-content: flex-start;
}

.main-tab-select.r {
    padding-left: 10px;
    display: flex;
    justify-content: flex-end;
}

.main-tab-select h2 {
    font-size: medium;
    text-decoration: underline;
    color: var(--primaryColor);
}

.tab-btn {
    cursor: pointer;
    width: max-content;
}

.main-info {
    width: 100%;
    height: max-content;
    padding-bottom: 10px;
}

.secondary-info {
    height: max-content;
    width: 35%;
    padding-bottom: 10px;
    padding-left: 10px;
}

article {
    padding-left: 10px;
}

footer {
    margin: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 15px;
    max-width: 1150px;
    width: 100%;
    height: max-content;
}

.center-text {
    text-align: center;
}

.footer-hr {
    border-top: 1px solid var(--primaryColor);
    padding-bottom: 10px;
}

.footer-hr:before {
    content: '';
    border-radius: 100%;
    position: absolute;
    height: 20px;
    width: 120px;
    background: var(--background);
    left: calc(50% - 50px);
    margin: -10px;
    box-shadow: inherit
}

.footer-hr:after {
    content: '';
    border-radius: 100%;
    position: absolute;
    height: 10px;
    width: 10px;
    background: var(--bgPrimaryColor);
    left: 50%;
    margin: -5px;
    box-shadow: inherit
}

#info-dropdown {
    background-color: var(--background);
    border-radius: 4px;
    width: 170px;
    cursor: pointer;
}

.info-entry {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 18px;
    line-height: 1.4;
    cursor: pointer;
}

.info-entry:hover {
    background-color: var(--itemBG_075);
}

/* -----------------  Templates ----------------- */

.search-annotation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--tagColor);
    height: fit-content;
}

.search-inflection {
    align-items: center;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border: 2px;
    border-style: solid;
    border-color: var(--searchTextColor);
    border-radius: 5px;
    width: fit-content;
    color: var(--primaryTextColor);
}

.sentence-reader {
    max-width: 1000px;
    max-height: 190px;
    overflow-y: auto;
}

.sentence-part {
    color: var(--primaryTextColor) !important;
    border-bottom: 1px solid var(--lineColor);
    margin-right: 15px;
    cursor: pointer;
}

.sentence-part.selected {
    border-bottom: 1px solid var(--primaryColor);
}

.sentence-part:hover {
    text-decoration: unset;
    text-shadow: -1px -1px var(--primaryTextColor);
    color: var(--primaryTextColor) !important; 
}

.entry-min-height-1 {
    min-height: 90px;
}

.entry-min-height-2 {
    min-height: 180px;
}

.main-info > .d-flex.flex-row {
    padding-left: 1vw;
}

.d-flex.flex-row.sentence {
    padding-bottom: 0.1rem;
}

.word-tooltip {
    position: absolute;
    top: -5px;
    right: 25px;
    width: 20px;
    height: 30px;
    color: var(--tagColor);
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}

.word-tooltip > span {
    margin-bottom: -20px;
}

.mdl-menu__container {
    margin-right: 10px;
}

.kanji-entry-parent {
    max-width: 1000px;
}

.kanji-entry {
    height: fit-content;
    padding-bottom: 10px;
}

.kanji-entry.left.fixed {
    min-width: 155px;
    max-width: 155px;
    justify-content: center;
    align-items: center;
 }

.kanji-entry.left.detail {
    width: 155px;
    padding-left: 25px
}

.kanji-entry.right {
    position: relative;
    width: 100%;
}

.kanji-entry.right.detail {
    padding-left: 35px;
    width: 100%;
}

.kanji-preview {
    display: block;
    line-height: 1.1;
    font-size: xx-large;
}

.kanji-preview.large {
    font-size: 50px;
    padding-top: 10px;
}

.kanji-preview.large:hover {
    text-decoration: none;
} 

.kanji-preview.x-large {
    font-size: 100px;
}

.kanji-preview.small {
    font-size: x-large;
}

.kanji-preview-info {
    padding-left: 5px;
}

.kanji-preview-right {
    max-width: 350px;
}

.inline-kana-preview {
    display: block;
    line-height: 1.1;
    font-size: xx-large;
    padding-top: 24px;
}

.inline-kana-preview.small {
    font-size: x-large;
}

.word-frequency {
    margin-top: 10px;
    width: 100px;
    clear: right;
    margin: 4px 0 8px 0;
    padding: 2px 5px 3px 5px;
    font-size: 10px;
    -webkit-font-smoothing: antialiased;
    background-color: var(--secondaryColor);
    border-radius: 3px;
    text-transform: lowercase;
    color: var(--secondaryTextColor);
    font-weight: bold;
    text-align: center;
}

.word-frequency.common {
    background-color: var(--primaryColor);
}

.kanji-entry .list-entry + .list-entry {
    padding-top: 5px;
}

.tags {
    color: var(--tagColor);
    font-size: 12px;
    margin-top: 6px;
}

.tags.fat {
    font-size: 20px;
    font-weight: bold;
    color: var(--primaryTextColor);
}

.tags.slim {
    font-size: 20px;
    font-weight: 400;
    color: var(--primaryTextColor);
    margin-top: -5px !important;
}

.tags.no-margin {
    margin-top: 0px;
}

.d-flex .row-tag-entry + .row-tag-entry {
    padding-left: 10px;
}

.entry-count  {
    color: var(--tagColor);
    line-height: 30px;
    margin-right: 5px;
    position: relative;
    height: 100%;
}

.translation {
    font-size: 19px;
}

.translation.big {
    font-size: 25px;
}

.translation.kanji {
    padding-top: 10px;
    padding-left: 10px;
}

.kanji-preview-left {
    width: 63%;
    padding-right: 10%;
}

.about-title {
    font-size: 22px;
    font-weight: bold;
    color: var(--primaryColor); 
}


/* ---------------------- Stroke Order / Kanji Page Unique Stuff --------------------- */
.stroke-container {
    max-width: 80vw;
    overflow-x: auto;
}

.animation-container {
    padding-left: 30%;
    padding-top: 10px;
}

.kanji-entry > d-flex.flex-row {
    flex-flow: row wrap;
}

.furigana-kanji-container {
    text-align: center;
    word-spacing: 10px;
}

.kun-reading {
    padding-left: 10px;
    width: 120%;
}

.draw2 {
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash2 10s linear forwards;
}

.kanjisvg:hover {
    cursor: pointer;
}

@keyframes dash2 {
    to { stroke-dashoffset: 0;}
}

/* --- Slider adjustments --- */

.slider-parent {
    padding-top: 30px;
    padding-right: 20px;
    width: 150px;
}

.slider-output {
    font-size: 13px;
    padding-top: 10px;
    color: var(--primaryColor);
}
  
/* The slider itself */
.slider {
    -webkit-appearance: none;
    width: 130px;
    height: 15px;
    border-radius: 10px;  
    background: var(--itemBG);
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
/* Mouse-over effects */
.slider:hover {
    opacity: 1;
}
  
/* The slider handle for webkit and mozilla with its extra shit */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: var(--bgPrimaryColor);
    cursor: pointer;
}

.slider::-webkit-slider-thumb:hover {
    background-color: var(--primaryColor);
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--bgPrimaryColor);
    cursor: pointer;
}

.slider::-moz-range-thumb:hover {
    background-color: var(--primaryColor);
}

.res-separator {
  border-top: 2px solid var(--lineColor);
  margin-right: 5px;
}

.res-separator.sentence {
    width: 100%;
}

/* Specific sentence stuff */

.sentence-translation.original {
    font-size: 19px;
    padding-top: 0.2rem;
}   

/* Pitch Accent Borders */
.pitch {
    border-radius: 0px;
    margin-right: -4px;
    font-size: large;
    color: var(--primaryColor);
}

.pitch.t {
    border-top: 1px solid var(--tagColor);
    padding-left: 5px;
    padding-right: 5px;
}

.pitch.r {
    border-right: 1px solid var(--tagColor);
    margin-right: -6px;
}

.pitch.b {
    border-bottom: 1px solid var(--tagColor);
}

.pitch.b:not(.r) {
    padding-left: 3px;
}

/* Info Overlay */

.table.conjugation, .table.collocation {
    width: 80%;
    margin-left: 10%;
}

.table.collocation tr:first-child > th {
    border-top: 2px solid var(--lineColor) !important;
}

.table.collocation th, .table.collocation td {
    width: 50%;
}


.table {
    color: var(--primaryTextColor) !important;
}

thead > tr > th {
    color: var(--secondaryTextColor) !important;
    background-color: var(--bgPrimaryColor) !important;
}

table th {
    border-color: var(--searchTextColor) !important;
    border-bottom: 2px solid var(--lineColor) !important;
    border-top: 1px solid var(--lineColor) !important;
}

td {
    border-top: 2px solid var(--lineColor) !important;
}

table tr:last-child > td {
    border-bottom: 2px solid var(--lineColor) !important;
}
