/*
    Used to make mobile shit ~p~r~e~t~t~y~ less ugly
*/

@media only screen and (max-width: 600px) {
	
    /* -------- Index -------- */
   
    .circle {
        width: 1.25em;
        height: 1.25em;
        border-radius: 50%;
        font-size: 50px;
        text-align: center;
        background-color: var(--itemBG_075);
        line-height: 110%;
        position: fixed;
        bottom: .5em;
        right: .5em;
    }

    article {
        padding-left: 1em;
        padding-right: 1em;
    }

	/* -------- Word Search -------- */
	
    #content-container {
        -ms-flex-direction: column!important;
        flex-direction: column!important;
    }
    
    body {
        height: max-content;
    }

    .choices[data-type*="select-one"]:after {
        margin-right: -15px;
    }

    .searchDivInner form .inner-form .input-field.first-wrap {
        width: 150px;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
    }

    .searchDivInner form .inner-form .input-field input {
        height: 100%;
        background: transparent;
        border: 0;
        display: block;
        width: 100%;
        padding: 10px 32px;
        font-size: 23px;
        color: var(--searchTextcolor);
    }

    #searchDiv {
        margin: 0px;
        width: 100%;
        max-width: 1000px;
    }

    h3 {
        margin-bottom: 2rem;
    }

    .title-div {
        width: 100%;
    }
    
    .btn-container, .main-tab-select {
        display: none;
    }
    
    .title-div {
        padding-top: 10px;
        width: 100%;
    }
    
    .main-info {
        height: max-content;
        width: 100%;
    }
	
	.main-info > .d-flex.center {
		-ms-flex-direction: column!important;
        flex-direction: column!important;
		align-self: center;
		align-items: center;
        width: 100%;
	}

    .main-info > .d-flex.flex-row {
        align-self: center;
		align-items: center;
    }
    
    .definition-wrapper.d-flex.flex-row {
        padding-bottom: 5px;
    }
    
    .secondary-info {
        height: max-content;
        align-self: center;
        width: 100%;
       /* padding-left: 15%; */
    }
	
    .secondary-info > div > .kanji-entry {
        justify-content: center;
    }
	
	.kanji-entry.left.fixed > .d-flex {
		padding-bottom: 5px;
	}

    .kanji-entry.right {
        padding-left: 2vw;
        width: 100%;
	}
    
    .kanji-preview.large {
        position: absolute;
    }
    
    .translation.kanji {
        padding-top: 70px;
		padding-left: 0px;
		padding-right: 0px;
    }
	
	.tags {
		padding-bottom: 5px;
	}

    .list-entry > .tags, .kanji-entry.right, .tags.no-margin {
        text-align: left;
    }

    .entry-min-height-1 {
        min-height: unset;
    }
    
    .entry-min-height-2 {
        min-height: unset;
    }
    

   
	
	/* -------- Kanji Details -------- */
	
	.main-container > .d-flex {
		flex-direction: column;
	}

	.kanji-entry.left.detail {
		align-self: center;
		padding-left: 0px;
	}
	
	.kanji-preview.x-large {
		align-self: center;
	}

    .translation.big {
        font-size: 20px;
        padding-bottom: 10px;
    }
	
	.kanji-preview-info {
		padding-left: 0px;
        text-align: center;
	}
	
	.kanji-entry.right.detail {
		width: unset;
		padding-left: 0px;
	}
	
	.kanji-entry.right.detail > .kanji-entry {
		flex-direction: column !important;
	}
	
	.kanji-preview-left {
		padding: 0;
		width: 100%;
		text-align: center;
	}	
	
	.kanji-preview-left > .d-flex {
		padding-left: 10px;
	}
	
	.kanji-preview-right {
        max-width: unset;
		padding-top: 10px;
	}

    .notes {
        padding-left: 10px;
    }

    .tags.fat {
        font-size: 15px;
    }

    .clickable.fat {
        font-size: 15px;
    }
	
	.stroke-container {
        max-width: 99vw;
        padding-left: 1vw;
	}
	
	.on-reading {
		padding-top: 10px;
	}
	
	.kun-reading {
		width: 100%;
		padding-top: 20px;
	}

    .animation-container {
        padding-left: 15vw;
    }

    .slider {
        width: 100px;
        height: 10px;
    }

    .slider::-webkit-slider-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
    }

    .slider::-moz-range-thumb {
        width: 20px;
        height: 20px;
        border-radius: 50%; 
    }

    .slider-output {
        margin-left: -10px;
    }
}


@media only screen and (min-width: 600px) {
    .circle {
        display: none;
    }
}