/*
    Used by the radical picker only.
*/

.rad-results {
    width: 99%;
    padding-left: 5px;
    padding-top: 10px;
    max-height: 85px;
    overflow-y: scroll;
}

.rad-picker {
    border: 2px;
    border-style: solid;
    border-color: var(--searchTextColor);
    border-radius: 5px;
    background-color: var(--overlay);
    max-height: 105vw;
    overflow-y: scroll;
}

.rad-btn {
    display: inline-block;
    border-radius: 2px;
    font-size: 24px;
    text-align: center;
    margin: 1px;
    height: 36px;
    width: 36px;
    padding: 2px 4px;
    line-height: 1.4;
}

.rad-btn.picker {
    background-color: var(--itemBG_075)
}

.rad-btn.result {
    background-color: var(--background);
}

.rad-btn.num {
    color: var(--searchTextColor);
    background: none;
    min-width: 32px;
    line-height: 36px;
    font-weight: bold;
    font-size: 20px;
    padding: 0 5px;
}

.rad-btn:hover:not(.num) {
    cursor: pointer;
}

/* ---------- Scrollbar changes ---------- */

/* Firefox */
.rad-results, .rad-picker {
    scrollbar-width: 0px;
}

/* Literally every one else */
.rad-results::-webkit-scrollbar, .rad-picker::-webkit-scrollbar {
    width: 0px;
}