.search-annotation {
    color: var(--tagColor);
    max-height: 150px;
    overflow: scroll;
    margin: 0 150px 0 150px;
}

.search-annotation::-webkit-scrollbar {
    width: 0px;
}

.search-inflection {
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.search-inflection > span > .forms {
    position: relative;
    left: 5px;
    top: 5px;
}

/* Mobile only */
@media only screen and (max-width: 600px) {
    .search-annotation {
        padding-left: 0;
        margin: -15px 5px 0 5px;
    }
    
    .search-inflection {
        padding: 0.5rem 0rem 0.5rem 0rem;
        width: 80vw;
    }
}