#sr {
    justify-content: center;
}

.sentence-part {
    color: var(--primaryTextColor) !important;
    border-bottom: 2px solid var(--lineColor);
    line-height: 1.1;
    margin-right: 15px;
    margin-top: 9px;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
}

.sentence-part.selected {
    border-bottom: 2px solid var(--primaryColor);
}

.sentence-part:hover {
    text-decoration: unset;
    text-shadow: -1px -1px var(--primaryTextColor);
    color: var(--primaryTextColor) !important; 
}

.sentence-part.inline-kana-preview {
    margin-top: 19px;
}

.sentence-part.symbol {
    border-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}

.sentence-part:not(.symbol) + .symbol {
    margin-left: -15px;
    margin-right: 10px;
}

.sentence-part.particle {
    color: var(--primaryColor) !important;
}

.sentence-part.particle:hover {
    text-shadow: -1px -1px var(--primaryColor);
}

.sentence-part:empty {
    padding-top: 19px;
}

.sentence-part > .furigana-kanji-container {
    margin-top: 24px;
}

.sentence-part > .inline-kana-preview {
    margin-top: 9px;
}

@media only screen and (max-width: 600px) { 

    #sr {
        scrollbar-width: none;
        flex-wrap: nowrap;
    }

    #sr::-webkit-scrollbar {
        width: 0px;
    }

    .sentence-part {
        min-width: -webkit-max-content;
        min-width: -moz-max-content;
        min-width: max-content;
        margin-right: 20px;
    }

}