/*
    Used by the search bar only. So much css for a damn text field..
*/

.choices {
  position: relative;
  margin-bottom: 24px;
  font-size: 16px;
}

.choices:focus {
  outline: none;
}

.choices:last-child {
  margin-bottom: 0;
}

.choices__item--choice:hover {
  color: var(--primaryColor) !important;
}

.choices[data-type*="select-one"] {
  cursor: pointer;
}

.choices[data-type*="select-one"] .choices__inner {
  padding-bottom: 7.5px;
}

.choices[data-type*="select-one"]:after {
  content: "";
  height: 0;
  width: 0;
  border-style: solid;
  border-width: 5px;
  border-color: var(--tagColor) transparent transparent transparent;
  position: absolute;
  right: 30px;
  top: 50%;
  margin-top: -2.5px;
  pointer-events: none;
}

.choices[data-type*="select-one"].is-open:after {
  border-color: transparent transparent var(--tagColor) transparent !important;
  margin-top: -7.5px;
}

.choices__inner {
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 7.5px 7.5px 3.75px;
  border-radius: 2.5px;
  font-size: 14px;
  min-height: 44px;
  overflow: hidden;
}

.is-open .choices__inner {
  border-radius: 2.5px 2.5px 0 0;
}

.choices__list {
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.choices__list--single {
  display: inline-block;
  padding: 4px 16px 4px 4px;
  width: 100%;
}

.choices__list--single .choices__item {
  width: 100%;
}

.choices__list--dropdown {
  display: none;
  z-index: 1;
  position: absolute;
  width: 100%;
  background-color: var(--searchBackground);
  border: 1px solid var(--searchBackground);
  top: 100%;
  margin-top: -1px;
  border-bottom-left-radius: 2.5px;
  border-bottom-right-radius: 2.5px;
  overflow: hidden;
  word-break: break-all;
}

.choices__list--dropdown.is-active {
  display: block;
}

.choices__list--dropdown .choices__list {
  position: relative;
  max-height: 300px;
  overflow: auto;
  overflow: -moz-hidden-unscrollable;
  -webkit-overflow-scrolling: touch;
  will-change: scroll-position;
}

.choices__list--dropdown .choices__item {
  position: relative;
  padding: 10px;
  font-size: 14px;
}

@media (min-width: 640px) {
  .choices__list--dropdown .choices__item--selectable {
    padding-right: 100px;
  }
  .choices__list--dropdown .choices__item--selectable:after {
    content: attr(data-select-text);
    font-size: 12px;
    opacity: 0;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }
}

.choices__item {
  cursor: default;
}

.choices__item--selectable {
  cursor: pointer;
}

.choices__item--disabled {
  cursor: not-allowed;
  -webkit-user-select: none;
      -ms-user-select: none;
          -moz-user-select: none;
       user-select: none;
  opacity: 0.5;
}

.choices__input {
  display: inline-block;
  vertical-align: baseline;
  font-size: 14px;
  margin-bottom: 5px;
  border: 0;
  border-radius: 0;
  max-width: 100%;
  padding: 4px 0 4px 2px;
}

.choices__input:focus {
  outline: 0;
}

.choices__button:focus {
  outline: none;
}

/* ----------------- Settings specific changes -------------- */

.modal-body .choices {
  margin-bottom: 0px;
}

.modal-body .choices__inner {
  width: -webkit-fit-content;
  width: fit-content;
  width: -moz-fit-content;
}

.modal-body .choices__list.choices__list--single {
  box-shadow: 0px 1px 2px 0px var(--backgroundShadow);
  border: 1px solid var(--backgroundShadow);
  padding-right: 20px;
}

.modal-body .choices:after {
  right: 15px;
  margin-left: unset;
}

.modal-body .choices__list.choices__list--dropdown {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: 0;
  margin-top: 2px;
  border-radius: 4px;
  box-shadow: 0px 8px 20px 0px var(--backgroundShadow);
}

.modal-body .choices__list--dropdown .choices__item {
  padding: 6px 17px 10px 10px;
}

@media (min-width: 640px) {
  .modal-body .choices__list--dropdown .choices__item--selectable {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    padding-right: 10px;
  }

  .modal-body .choices ::-webkit-scrollbar {
    width: 10px;
  }
    
  .modal-body .choices ::-webkit-scrollbar-track {
    background: var(--lineColor);
  }
    
  .modal-body .choices ::-webkit-scrollbar-thumb {
    background: var(--itemBG_075);
  }

  .search-lang-txt {
    position: absolute;
    margin-top: -30px;
    right: 8rem;
  }
}

/* ----------------- Search Bar specific changes -------------- */

.searchDivInner form .inner-form {
  background: var(--searchBackground);
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 8px 20px 0px var(--backgroundShadow);
  border-radius: 20px;
}

.searchDivInner form .inner-form .input-field {
  height: 68px;
}

.searchDivInner form .inner-form .input-field input {
  height: 100%;
  width: 100%;
  background: transparent;
  border: 0;
  display: block;
  padding: 10px 32px;
  margin-right: 80px;
  font-size: 16px;
  color: var(--searchTextColor);
}

.searchDivInner form .inner-form .input-field input.placeholder {
  color: var(--tagColor);
  font-size: 16px;
}

.searchDivInner form .inner-form .input-field input:-moz-placeholder {
  color: var(--tagColor);
  font-size: 16px;
}

.searchDivInner form .inner-form .input-field input::-webkit-input-placeholder {
  color: var(--tagColor);
  font-size: 16px;
}

.searchDivInner form .inner-form .input-field.first-wrap {
  width: 200px;
  border-right: 1px solid var(--lineColor);
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__inner {
  background: transparent;
  border-radius: 0;
  border: 0;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 10px 30px;
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__inner .choices__list.choices__list--single {
  display: flex;
  padding: 0;
  align-items: center;
  height: 100%;
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__inner .choices__item.choices__item--selectable.choices__placeholder {
  display: flex;
  align-items: center;
  height: 100%;
  opacity: 1;
  color: var(--tagColor);
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__inner .choices__list--single .choices__item {
  display: flex;
  align-items: center;
  height: 100%;
  color: var(--searchTextColor);
}

.searchDivInner form .inner-form .input-field input:hover, .searchDivInner form .inner-form .input-field input:focus {
  box-shadow: none;
  outline: 0;
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
  border: 0;
  margin-top: 2px;
  border-radius: 4px;
  box-shadow: 0px 8px 20px 0px var(--backgroundShadow);
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown .choices__item--selectable {
  padding-right: 0;
}

.searchDivInner form .inner-form .input-field.first-wrap .choices__list--dropdown .choices__item {
  color: var(--searchTextColor);
  min-height: 24px;
}

.searchDivInner form .inner-form .input-field.second-wrap {
  flex-grow: 1;
}

.searchDivInner form .inner-form .input-field.third-wrap {
  /* width: 74px; */
  width: 30px;
}

.btn-search {
  height: 100%;
  width: 100%;
  white-space: nowrap;
  border: 0;
  cursor: pointer;
  color: var(--searchBackground);
  background: var(--bgPrimaryColor);
  transition: all .2s ease-out, color .2s ease-out;
}

.btn-search svg {
  width: 16px;
}

.btn-search:hover {
  background: var(--primaryColor);
}

.btn-search:focus {
  outline: 0;
  box-shadow: none;
}

.searchDivInner form .inner-form .input-field .input-select {
  height: 100%;
}

.searchDivInner form .inner-form .input-field .input-select .choices {
  height: 100%;
}

.searchDivInner form .inner-form .input-field {
  height: 50px;
}

.btn-search > svg > path {
  fill: var(--secondaryTextColor);
}

.searchDivInner .choices__list--dropdown > .choices__list {
  margin-left: 10px;
}

.choices__list.choices__list--dropdown.index.is-active {
  -webkit-animation: dropdownAnim 0.2s linear forwards;
          animation: dropdownAnim 0.2s linear forwards;
}

.choices__list.choices__list--dropdown.index.animate:not(.is-active) {
  display: unset !important;
  -webkit-animation: dropdownAnimClose 0.2s linear forwards;
          animation: dropdownAnimClose 0.2s linear forwards;
}

@-webkit-keyframes dropdownAnim {
  from {height: 0px;}
  to { height: 330%;}
}

@keyframes dropdownAnim {
  from {height: 0px;}
  to { height: 330%;}
}

@-webkit-keyframes dropdownAnimClose {
  from {height: 330%; }
  to { height: 0%; display:hidden !important;}
}

@keyframes dropdownAnimClose {
  from {height: 330%; }
  to { height: 0%; display:hidden !important;}
}

.choices.main[data-type*="select-one"]:after {
  transition: linear 0.2s;
}

.choices.main[data-type*="select-one"].is-open:after {
  transition: linear 0.2s;
}

/* Mobile Only */
@media only screen and (max-width: 600px) {

  .choices[data-type*="select-one"]:after {
    right: 14px;
  }

}

/* Dekstop Only */
@media only screen and (min-width: 600px) {

  .searchDivInner form .inner-form .input-field.first-wrap .choices__list.choices__list--dropdown {
      border-radius: 20px !important;
      border-top-right-radius: 0px !important;
  }

}
