#search-row {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

#emptyInput {
    position: absolute;
    height: 30px;
    margin-top: 7px; 
    right: 70px;
}

#emptyInput:focus {
    outline: none;
    box-shadow: none;
}

#emptyInput > svg {
    width: 20px;
    fill: var(--tagColor);
}

#search-vl {
    position: absolute;
    border-left: 1px solid var(--lineColor);
    height: 70%;
    margin-top: 7px;
    right: 75px;
}

.search-embedded-btn:focus {
    outline: none;
    box-shadow: none;
}

.search-embedded-btn {
    background: unset;
    position: absolute;
    height: 30px;
    margin-top: 11px;
    right: 10px;
    width: unset;
    border: none;
}

.search-embedded-btn.search {
    width: 30px;
    right: 14px;
    display: none;
}

#voiceBtn.search-embedded-btn {
    display: none;
}

.search-embedded-btn.search > svg > path, #voiceBtn.search-embedded-btn > svg > path {
    fill: var(--primaryColor);
}

.search-embedded-btn.radical {
    right: 38px;
}

.search-embedded-btn.radical > span {
    font-size: 20px;
    text-shadow: 0px 0px var(--tagColor);
    color: var(--tagColor);
}

.input-group {
    height: 100%;
}

svg {
    fill: var(--searchTextColor);
}

.kanjisvg > path {
    stroke: var(--primaryTextColor);
}

.d-flex.center {
    justify-content: center;
}

.btn-container {
    position: absolute;
    width: 100%;
    top: 0;
    text-align: center;
    text-align: -webkit-center;
}

.btn-container div {
    float: left;
    width: 30px;
}

.btn-container.rad {
    margin-top: -8px;
    margin-right: -7px;
}

.settingsBtn, .infoBtn, .homeBtn {
    position: absolute;
    cursor: pointer;
    z-index: 15;
}

.settingsBtn {
    top: 22px;
    left: 20px;
    padding-top: 12px;
    padding-bottom: 0px;
}

.infoBtn {
    top: 21px;
    right: 3em;
}

.homeBtn {
    font-family: 'Material Icons';
    font-size: 27px;
    top: 16px;
    right: 0.5em;
    color: var(--tagColor);
}

.homeBtn.mobile {
    position: relative;
    font-size: 38px;
    top: 0;
    left: 0;
    right: 0;
}

.rad-picker-icon {
    font-size: 33px;
    color: var(--searchTextColor);
}

.rad-picker-txt {
    margin-top: -9px;
}

#searchDiv {
    z-index: 1;
    margin-left: 15px;
    width: 100%;
    max-width: 1150px;
    position: relative;
}

#searchDiv.index {
    max-width: 1150px;
    margin-left: 0px;
}
 
.d-flex.left {
    flex-direction: row;
    justify-content: left;
}

/* Adjustments for the upper buttons */
@media only screen and (max-width: 1350px) {
    #searchDiv {
        width: 90%;
        padding-right: 30px;
    }
}
@media only screen and (max-width: 875px) {
    #searchDiv {
        padding-right: 45px;
    }
    .homeBtn {
        right: 0.25em;
    }
    .infoBtn {
        right: 2.5em;
    }
}
@media only screen and (max-width: 600px) {
    #searchDiv {
        width: 100%;
        padding-right: 0px;
    }
}
